extends base

block content
  main.main
    .error
      .error__title
        h2.heading-secondary.heading-secondary--error Your Email is verified!   
        h2.error__emoji 🎉
      .error__msg Please log in with your email and password.
